<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="secondary"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-text color="light">
                <ion-text color="light" class="fw700">Ooredoo</ion-text>
            </ion-text>
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
    <ion-button expend="full" (click)="openModal()">create new host</ion-button>
    <ngx-datatable
            class="material"
            [rows]="data2"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [summaryPosition]="'bottom'"
    >
        <ngx-datatable-column name="hosts" prop="host">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
            </ng-template>
        </ngx-datatable-column>
                <ngx-datatable-column name="ip" prop="interfaces">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value[0].ip }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="port" prop="interfaces">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value[0].port }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions" [sortable]="false">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ion-button size="small" fill="outline" (click)="deleteHost(row)">host Delete</ion-button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
    <!--<div *ngFor="let row of data " >-->
    <!--{{ row.host  }}-->

    <!--</div>-->
    <!-- Textarea in an item with a placeholder -->
</ion-content>

