<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="secondary"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-text color="light">
                <ion-text color="light" class="fw700">Ooredoo</ion-text>
            </ion-text>
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card no-margin class="no-radius">
        <ion-item lines="none" color="medium">
            <ion-label>
                <h2 no-margin class="fw500 no-margin">
                    <ion-text color="dark">Alert / Toast test</ion-text>
                </h2>

                <p class="text-11x no-margin">
                    <ion-text  color="primary"></ion-text>
                </p>
            </ion-label>


        </ion-item>

    </ion-card>

    <input type="text" style="padding:8px;margin:15px auto;width:30%;" placeholder="Type to filter the name column..." [(ngModel)]="filterText" (ngModelChange)="updateFilter($event)"/>
    <ngx-datatable #table class="material" [limit]="8" [rows]="filteredData" [scrollbarH]="true"
     [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"  [summaryPosition]="'bottom'">

        <ngx-datatable-column name="item" prop="name" >
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value  }}
            </ng-template></ngx-datatable-column>

        <ngx-datatable-column name="host" prop="hostName" >
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value  }}
            </ng-template></ngx-datatable-column>

        <ngx-datatable-column name="timeout" prop="timeout" >
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value  }}
            </ng-template></ngx-datatable-column>
        <ngx-datatable-column name="host" prop="lastclock" >
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value *1000 | date }}
            </ng-template></ngx-datatable-column>
        <ngx-datatable-column name="Actions" [sortable]="false">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ion-button size="small" fill="outline" (click)="openModal(row)">Graph</ion-button>
            </ng-template>
        </ngx-datatable-column>




    </ngx-datatable>





</ion-content>




